<html>
<head>
    <title>{{title}}</title>
</head>

<body>

<h2><a href="/">ktorScan</a> - {{ title }}</h2>
<p>
    A kotlin/ktor wrapper that provides <a href="https://github.com/rbsec/sslscan">rbsec/sslscan</a> reports formated
    with <a href="https://github.com/theZiz/aha">aha</a>.
</p>
<!-- header.hbs end -->